<p class="paragraph">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi
  dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut
  corporis incidunt deserunt quae architecto voluptate.
</p>

<p class="paragraph">
  Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto
  voluptate delectus, inventore iure aliquid aliquam.
</p>

<ul class="list">
    <li class="list__item">Close to the beach</li>
    <li class="list__item">Breakfast included</li>
    <li class="list__item">Free airport shuttle</li>
    <li class="list__item">Free wifi in all rooms</li>
    <li class="list__item">Air conditioning and heating</li>
    <li class="list__item">Pets allowed</li>
    <li class="list__item">We speak all languajes</li>
    <li class="list__item">Perfect for families</li>
</ul>

<div class="recommend">
    <p class="recommend__count">
        Lucy and three others friends recommend this hotel
    </p>

    <div class="recommend__friends">
        @for (item of imgFriends(); track $index) {
            <img [attr.src]="item.route+item.name" alt="item.alt" class="recommend__photo">
        }
    </div>
</div>
