@import '../../../assets/scss/base';


.content {
    margin-top: 2px;

    @media only screen and (max-width: $bp-medium) {
    }




    &__sidebar {
        background-color: var(--color-grey-dark-1);
    }

    &__main{
        background-color: #fff;
    }

   


}