@import '../../../assets/scss/base';
.content {
    margin-top: 2px;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }




    &__sidebar {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%;


    }

    &__main{
        background-color: #fff;
        flex: 1;
    }

   


}