<div class="gallery">
    @for (item of imgItems(); track $index) {
        <figure class="gallery__item">
            <img [attr.src]="item.route+item.name" alt="item.alt" class="gallery__photo" loading="eager">
        </figure>
    }

</div>

<mat-toolbar class="overview">
    <h1 class="overview__heading">
        Hotel Las Palmas
    </h1>
    <div class="overview__stars">
        @for (_ of [1,2,3,4,5]; track $index) {
            <svg class="overview__icon--stars">
                <use xlink:href="../../../../assets/img/sprite.svg#icon-star"></use>
            </svg>
        }
    </div>
    <div class="overview__location">
        <svg class="overview__icon--location">
            <use xlink:href="../../../../assets/img/sprite.svg#icon-location-pin"></use>
        </svg>

        <button class="btn-inline">Albufeira, Portugal</button>

    </div>
    
    <span class="example-spacer"></span>
    
    <div class="overview__rating">
        <div class="overview__rating--average">8.6</div>
        <div class="overview__rating--count">429 votes</div>
    </div>
  </mat-toolbar>

 


